<li class="nav-item">
    <a class="nav-link" data-widget="pushmenu" role="button"><i class="fas fa-bars"></i></a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-action="index" asp-controller="Home">Home</a>
</li>
